.Profile {
  position: relative;
  width: 100%;
  height: calc(100% - 85px);
  padding:10px;
  box-sizing: border-box;
  display: flex;
}

.Profile__Stats {
  width:100%;
  text-align: center;
}

.Profile__Stats__Title {
  color:white;
}

.Profile__Stats__Item {
  float:left;
  width:50%;
  margin-bottom:20px;
}
