

.Header {
  position: relative;
  width: 100%;
  height: 85px;
  padding: 10px;
  box-sizing: border-box;
}

.Header__Profile {
  width:auto;
  height: 100%;
  float:left;

  -webkit-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
}

.Header__Profile__Avatar {
  width: 100px;
  height: 100%;
  float: left;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../assets/imgs/aimbet-logo-white.png');
}

.Header__Profile__Info {
  width: 200px;
  height: 100%;
  float: left;
  padding:5px;
  box-sizing: border-box;

  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

.Header__Profile__Info__Item {
  width: 100%;
  height: calc((100% - 5px) / 2);
  line-height: calc(100% + 11px);
  float: left;
  margin-bottom:5px;
  text-align: center;

  color: white;

  -webkit-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
}

.Header__Profile__Info__Item__Rank {
  width:auto;
  height:100%;
  line-height: 27px;
  padding:0 10px;
  margin-right:5px;
  float:left;
}

.Header__Profile__Info__Item__Username {
  overflow:hidden;
  display:flex;
  justify-content: center;
  align-items: center;
  height:100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
}

.Header__Profile__Info__Item__Counter {
  width:calc((100% - 5px) / 2);
  float:left;
  height:100%;
  margin-right: 5px
}

.Header__Profile__Info__Item__Counter:last-child {
  margin-right:0;
}

.Header__Profile__Info__Item__League-Icon {
  width:18px;
  height:18px;
  display: inline-block;
  margin-right:5px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Header__Profile__Info__Item__League-Title {
  height:100%;
  width:auto;
  display: inline-block;
}

.Header__Buttons {
  width: calc((100px - 10px) / 3);
  height: 100%;
  float: left;
  margin-left:10px;
}

.Header__Buttons a {
  display: block;
  text-align: center;
  line-height: 32px;
  width: 100%;
  height: calc((100px - 10px) / 3);
  float:left;
  margin-bottom:5px;

  background-color: rgba(255, 255, 255, 0.3);
  color: white;

  -webkit-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
}

.Header__Nav {
  float:left;
  height:100%;
  margin-left: 20px;
}

.Header__Nav a {
  float:left;
  width:100px;
  height:100%;
  background:orange;
  margin-right: 10px;
  padding: 5px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.3);
  color:white;
  text-decoration: none;
  text-align: center;

  -webkit-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
}

.Header__Nav a:hover {
  background-color: rgba(0, 176, 77, 0.3);
}

.Header__Nav__Icon {
  display:flex;
  justify-content: center;
  align-items: center;
  height:60%;
  font-size:25px;
}

.Header__Nav__Title {
  display:flex;
  justify-content: center;
  align-items: center;
  height:40%;
  font-size:14px;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
}
