.Ranking {
  position: relative;
  width: 100%;
  height: calc(100% - 85px);
  padding-top:10px;
  box-sizing: border-box;
  display: flex;
}

.Ranking__Results__Ranking {
  width:600px;
  margin:0 auto;
  height:100%;
  overflow-y: auto;
  flex-direction: column;
  padding-left:10px;
  box-sizing: border-box;
}
