.PronosLive__UserProfile {
  width:100%;
  height:40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
}

.PronosLive__UserProfile__Avatar {
  width:40px;
  height:100%;
  background-color: rgb(224, 224, 224);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.PronosLive__UserProfile__Infos {
  padding:5px 0;
  flex:1;
  box-sizing: border-box;
  margin-left:5px;
  height:100%;
  display:flex;
  flex-direction: row;
}

.PronosLive__UserProfile__Infos__Ranking {
  display: flex;
  align-items: center;
  background-color: #242424;
  width:auto;
  padding:0 10px;
  color:white;
  height:100%;
  -webkit-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
}

.PronosLive__UserProfile__Infos__Username {
  display: flex;
  align-items: center;
  margin-left:5px;
  flex:1;
  height:100%;
  padding:0 10px;
  color:white;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
}

.PronosLive__UserProfile__Results {
  padding-top:5px;
  padding-bottom:5px;
  padding-right:5px;
  box-sizing: border-box;
  flex:1;
  height:100%;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}

.PronosLive__UserProfile__Result {
  display: flex;
  align-items: center;
  width:auto;
  margin-left:5px;
  padding:0 7px;
  color:white;
  height:100%;
  -webkit-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
}
