.Rooms {
  position: relative;
  width: 100%;
  height: calc(100% - 85px);
  padding:10px 20px;
  box-sizing: border-box;
}

.Rooms__List {
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.Rooms__List__Item {
  position: relative;
  float:left;
  width: 250px;
  padding-top: 250px;
  box-sizing: border-box;
  margin:10px;
}

.Rooms__List__Item__Content {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://media.alienwarearena.com/media/67387147-cs-go-wallpapers.png');
}
