*:focus {
    outline: none;
}

.Auth {
  margin:0 auto;
  width:400px;
  padding:50px 0;
}

.Auth__Logo {
  height:125px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/imgs/aimbet-logo_both-white.png')
}

.Auth__Form {
  display:flex;
  justify-content: center;
  flex-direction: column;
  margin:20px 0;
}

.Auth__Input {
  height:50px;
  border:1.5px solid #00B04D;
  margin:10px 0;
  background-color: white;
  font-size:15px;
  padding:0 15px;
}

.Auth__Button {
  height:50px;
  background-color: #00B04D;
  font-size: 15px;
  font-weight:bold;
  color:white;
  border:0;
  margin:10px 0;
}

.Auth__Error {
  text-align: center;
  padding:5px;
  background-color: rgb(186, 24, 24);
  color:white;
  font-weight:bold;
  font-size:15px;
  margin:10px 0;
}

span {
  color:white;
  font-size:15px;
}

a {
  color:#00B04D;
  font-weight:bold;
  font-size:15px;
  text-decoration: none;
}

a:hover {
  color:#00853a;
}
