html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 15px;
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
}

.App {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #191E22;
}
