.PronosLive__Forecast__Countdown {
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  padding:10px;
  box-sizing: border-box;
  color:white;
  font-weight:bold;
  font-size:40px;
}
