.PronosLive__Forecast__Item {
  display:flex;
  flex-direction: row;
  padding:5px 0;
  box-sizing: border-box;
}

.PronosLive__Forecast__Data {
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.PronosLive__Forecast__Question {
  width:fit-content;
  height:40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
}

.PronosLive__Forecast__Question__Logo {
  width:40px;
  height:100%;
  background-color: rgba(255, 255, 255, 0.3);
  background-position: center;
  background-repeat: no-repeat;
  /*background-size: cover;*/
  background-size: 90%;
}

.PronosLive__Forecast__Question__Text {
    padding:0 10px;
    color:white;
    text-transform: uppercase;
}

.PronosLive__Forecast__Answers {
    height:40px;
    overflow-x: auto;
    display:flex;
    flex-direction: row;
    margin-top:10px;
}

.PronosLive__Forecast__Answer {
  width:fit-content;
  height:40px;
  margin-right: 10px;
  padding:0 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color:white;
  background-color: rgba(68, 86, 246, 0.3);
  -webkit-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
}

.PronosLive__Forecast__Answer:hover {
  background-color: rgba(68, 86, 246, 1);
  cursor:pointer;
}

.PronosLive__Forecast__Answer--Blocked {
  width:fit-content;
  height:40px;
  margin-right: 10px;
  padding:0 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color:white;
  background-color: rgba(68, 86, 246, 0.3);
  -webkit-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
}

.PronosLive__Forecast__Answer--Selected {
  width:fit-content;
  height:40px;
  display: flex;
  padding:0 15px;
  margin-right: 10px;
  align-items: center;
  box-sizing: border-box;
  text-transform: uppercase;
  color:white;
  background-color: rgba(68, 86, 246, 1);
  -webkit-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
}
