.PronosLive {
  position: relative;
  width: 100%;
  height: calc(100% - 85px);
  padding-top:10px;
  box-sizing: border-box;
  display: flex;
}

.PronosLive__ReturnButton {
  padding:5px 10px;
  background-color:rgba(0, 0, 0, 0.25);
  position:absolute;
  z-index:999;
  left:10px;
  top:10px;
}

.PronosLive__ReturnButton:hover {
  background-color:#00B04D;
}

.PronosLive__Section {
  position:relative;
  height:100%;
  display: flex;
  flex-direction: column;
  padding:0 10px 10px 10px;
  box-sizing: border-box;
}

.PronosLive__Stream {
  width:100%;
  flex:1;
  display: flex;
  flex-direction: row;
}

.PronosLive__Forecast {
  width:100%;
  height:170px;
  display:flex;
  flex-direction: column;
  padding-top:15px;
  box-sizing: border-box;
}

.PronosLive__Forecast__Menu {
  width:100%;
  height:40px;
  margin-bottom:10px;
  display:flex;
  flex-direction: row;
  align-items: center;
}

.PronosLive__Forecast__Menu__Item {
  position:relative;
  text-transform: uppercase;
  height:100%;
  color:white;
  display:flex;
  align-items: center;
  padding:0 10px;
  margin-right:10px;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
}

.PronosLive__Forecast__Menu__Item:hover {
  background-color: #00B04D;
  cursor:pointer;
}

.PronosLive__Forecast__Menu__Item--Selected {
  position:relative;
  text-transform: uppercase;
  height:100%;
  color:white;
  display:flex;
  align-items: center;
  padding:0 10px;
  margin-right:10px;
  background-color: #00B04D;
  -webkit-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
}

.PronosLive__Forecast__Menu__Item__Badge {
  position:absolute;
  top:-7px;
  right:0;
  width:14px;
  height:14px;
  color:white;
  background-color: rgb(186, 24, 24);
  display: flex;
  align-items: center;
  font-size: 10px;
  justify-content: center;
  -webkit-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
}

.PronosLive__Results {
  position:relative;
  margin-top: 20px;
  width:100%;
  height:calc(100% - 60px);
}

.PronosLive__Results__Menu {
  width:100%;
  height:30px;
  margin-bottom:10px;
  display:flex;
  flex-direction: row;
}

.PronosLive__Results__Menu__Item {
  margin-right:10px;
  height:100%;
  background-color: rgba(255, 255, 255, 0.3);;
  display:flex;
  padding:0 10px;
  align-items: center;
  justify-content: center;
  color:white;
  -webkit-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
}

.PronosLive__Results__Menu__Item:hover {
  cursor:pointer;
  background-color: #00B04D;
}

.PronosLive__Results__Menu__Item--Selected {
  margin-right:10px;
  height:100%;
  padding:0 10px;
  background-color: #00B04D;
  display:flex;
  align-items: center;
  justify-content: center;
  color:white;
  -webkit-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.25);
}

.PronosLive__Results__Menu__Item--Selected:hover {
  cursor:pointer;
  background-color: #00B04D;
}

.PronosLive__Results__Ranking {
  width:100%;
  height:calc(100% - 40px);
  overflow-y: auto;
  flex-direction: column;
  border-left: 1px solid #00B04D;
  padding-left:10px;
  box-sizing: border-box;
}

.PronosLive__Results__History {
  width:100%;
  height:calc(100% - 40px);
  overflow-y: auto;
  flex-direction: column;
  border-left: 1px solid #00B04D;
  padding-left:10px;
  box-sizing: border-box;
}

.PronosLive__Results__Chat {
  width:100%;
  position:relative;
  height:calc(100% - 40px);
  flex-direction: column;
  border-left: 1px solid #00B04D;
  padding-left:10px;
  box-sizing: border-box;
}
